html,body{
	height: 100%;
	margin:0;
	padding:0;
	overflow: hidden;
	min-width: 300px;
}
.navbar{	
	height: 24%;
	border: 1px solid blue;
}
.main_div{
	height: 76%;
	min-width: 300px;
}
.login_form, .signup_form {	
	height: 100%;
	text-align: center;
	position: absolute;
	border: 1px solid red;
	display: inline;
	background-color: white;
}
.login_form > form{
	height: 100%;	
	text-align: center;
}
.login_form{
	width: 100%;
	z-index: 1;	
}
.signup_form{
	width: 100%;
	z-index: 9999;
}
